[MASTER]
extension-pkg-whitelist=PyQt6

[BASIC]
good-names=mousePressEvent, mouseReleaseEvent, keyPressEvent, keyReleaseEvent, wheelEvent, mouseMoveEvent, closeEvent, retranslateUi, resizeEvent, mouseDoubleClickEvent